<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= link_to 'Show', client_account_path(account.client,account) %></td>
    <td><%= link_to 'Edit', edit_client_account_path(account.client,account) %></td>
    <td><%= link_to 'Destroy', client_account_path(account.client,account), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_client_account_path(@client) %>
